*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.controller {
  position: relative;
}

.controller img {
  position: absolute;
  overflow: hidden;
}

.hidden {
  opacity: 0;
}

/* Hides debug html - comment the css block bellow to show it on browser */
.controller-container {
  display: none;
}
